doctype html
html
  head
    title= title
    meta(property='og:title', content='Try Web')
    meta(property='og:description', content='Development web')
    meta(property='og:image:secure_url', content='https://try-webpage.herokuapp.com/trywebimage.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon', href='https://try-webpage.herokuapp.com/tryweb-appicon.png')
  body
    block content
